@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background: #ffffff;
  --foreground: #171717;
  --color-devclub: #79b5bd;
  --color-devclub-light: '#a6d0d6',
  --color-devclub-dark: '#5a8a91',
  --font-sans: system-ui, sans-serif;
  --font-mono: ui-monospace, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .text-devclub {
    color: var(--color-devclub);
  }
  
  .bg-devclub {
    background-color: var(--color-devclub);
  }
  
  .border-devclub {
    border-color: var(--color-devclub);
  }
}


@supports (height: 100dvh) {
  :root {
    --dvh: 1dvh;
    --svh: 1svh;
    --lvh: 1lvh;
  }
}

@supports not (height: 100dvh) {
  :root {
    --dvh: 1vh;
    --svh: 1vh;
    --lvh: 1vh;
  }
}

/* Add this to your global styles */
html {
  scroll-padding-top: 20px;
}
